*{
    box-sizing: content-box;
    padding: 0;
    color:rgb(228, 238, 239);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin:0;
   
    

    
   
}
.selector-for-some-widget {
    box-sizing: content-box;
  }
  html {
    margin:0px;
  }
.container {
    display: flex;
    flex-flow:row wrap;
    height: 100vh;
    width: 100vh;
    /* background-color: rgb(5, 5, 42); */
    background-color:rgb(182, 106, 207);

    margin:0px;
}
.headers {
    height: 55vh;
   
    
    background-image: url("https://png.pngtree.com/background/20230619/original/pngtree-abstract-geometric-background-a-3d-render-of-neon-purple-and-blue-picture-image_3760613.jpg") !important;

}

/* .container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "experience experience experience"
    "education education education"
    "certification certification certication"
    "project project project"
    "contact contact contact"
    "footer footer footer"
    ;
    gap: 20px;
    border: 2px solid pink;
} */

/* .header {
    display: flex;
    height: 20vh;
    border: 2px solid green;
    margin: 5px;
} */
 
.exper {
    height: 35vh;
    margin-bottom: 2px;
   
}
/*

.educ {
    display: flex;
    height: 14vh;
    
    padding-bottom: 30px;
    box-sizing: content-box;
    column-gap: 30px;

}
    */
/* .card-body, .card-header {
   background-color: rgb(5, 5, 42);
} */

.skills{    
    height: 20vh; 
    padding: 20px; 
}
/*
.contact {
    display: flex;
    height: 20vh; 
    box-sizing: content-box;
    padding-bottom: 40px;
    flex-wrap: wrap;
    column-gap: 30px;
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    column-gap: 30px;
}
 */

.nav {
    background-color: white;
    box-shadow: inset;
    justify-content: space-evenly;

}
.nav a {
    color:rgb(107, 12, 107);
}

.presentation {
    display:flex;
    flex-flow:column wrap ;

    align-self: center;
    
}
.texts {
    display:flex;
    flex-flow: column wrap;
    align-self: center;
}
.texts h1,  p{
   align-self: center;
}
.imag {
    display:flex;
    flex-flow:row-reverse wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.imag img {
    border: none;
    border-radius: 100%;
    object-fit: cover;
    
}
.contact {
    height: 20vh;
   
}
input {
    display: block;
    color:rgb(107, 12, 107);
    
}
form {
    align-self: center;

}

/* 
.header {
    height:30vh;
    border: 5px solid red;
    
}

.main {
    height: 60vh;
    border: 5px solid green;
}

.footer {
    height: 10vh;
    background-color: white !important;
    border: 5px solid yellow;
} */


.edcontainer {
    box-sizing: content-box;
    margin:0;
    padding: 10px;
    overflow-x: hidden;

}

video{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-height: 100%;
    z-index: -100;
}



.educ {

    flex-flow: column wrap;
    padding-left: 10px;
    justify-content: center;

    
   
}
.educ1, .educ2 {
   
    flex-flow: column wrap;
    align-self: center;
    padding-left: 10px;

   
    
}

.cert {
    height:55vh;
    align-self: center;
    padding-left: 10px;
}

p {
    padding-left: 10px;
}

.cert1, .cert2, .cert3 {
    flex-shrink: 1;
    margin-bottom: 0;
}

.contact{

    color: rgb(168, 125, 208);
    padding-left: 450px;
    padding-top: 200px;
    
}

label {
    color: rgb(168, 125, 208);
}
.input {
    width: 300px;
}








