*{
    box-sizing: content-box;
    padding: 0;
    color:rgb(228, 238, 239);
    font-size: large;
    margin:0px;
   
    

    
   
}
.selector-for-some-widget {
    box-sizing: content-box;
  }
  html {
    margin:0px;
  }
.container {
    display: flex;
    flex-flow:row wrap;
    height: 100vh;
    background-color: rgb(5, 5, 42);
    margin:0px;
}
.headers {
    background-image: url("https://png.pngtree.com/background/20230619/original/pngtree-abstract-geometric-background-a-3d-render-of-neon-purple-and-blue-picture-image_3760613.jpg") !important;

}

/* .container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "experience experience experience"
    "education education education"
    "certification certification certication"
    "project project project"
    "contact contact contact"
    "footer footer footer"
    ;
    gap: 20px;
    border: 2px solid pink;
} */

/* .header {
    display: flex;
    height: 20vh;
    border: 2px solid green;
    margin: 5px;
} */
 
/* .exper {
    display: flex;
    height: 25vh;
    margin: 5px;
    box-sizing: content-box;
    margin-top: 80px;
    column-gap: 30px;
   
}


.educ {
    display: flex;
    height: 14vh;
    
    padding-bottom: 30px;
    box-sizing: content-box;
    column-gap: 30px;

}
    */
.card-body, .card-header {
   background-color: rgb(5, 5, 42);
}
/*
.skills{
    display: flex;
    height: 5vh;
    margin: 5px;
    box-sizing: content-box;
    flex-wrap: wrap;
    column-gap: 30px;
}
.contact {
    display: flex;
    height: 20vh; 
    box-sizing: content-box;
    padding-bottom: 40px;
    flex-wrap: wrap;
    column-gap: 30px;
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    column-gap: 30px;
}
 */

.nav {
    background-color: white;
    box-shadow: inset;
    margin-bottom: 20pxpx !important;
    justify-content: space-evenly;

}
.nav a {
    color:rgb(107, 12, 107);
}

.presentation {
    display:flex;
    flex-flow:column wrap ;
    margin-top: 50px;
    align-self: center;
    column-gap: 30px;
}
.texts {
    display:flex;
    flex-flow: column wrap;
    align-self: center;
}
.texts h1,  p{
   align-self: center;
}
.imag {
    display:flex;
    flex-flow:row-reverse wrap;
    flex-grow: 1;
    justify-content: center;
    padding-top: 10px;
}
.imag img {
    border: none;
    border-radius: 100%;
    
}
input {
    color:rgb(107, 12, 107);
}

/* 
.header {
    height:30vh;
    border: 5px solid red;
    
}

.main {
    height: 60vh;
    border: 5px solid green;
}

.footer {
    height: 10vh;
    background-color: white !important;
    border: 5px solid yellow;
} */